parameters:
    paths:
        - src/
    level: 9
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false

includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
